<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List Product</title>
  <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
  <a href="/products/create"><button class="btn btn-primary">Create Product</button></a>
  <h1 th:text=${name}></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <tr th:each="product:${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.Image}"></td>
      <td th:text="${product.price}"></td>
      <td>
        <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a> |
        <a th:href="@{/products/delete/{id}(id=${product.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>
      </td>
    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>